{% extends "page.html" %}

{% block content %}

<div class="container">
		{{ page.html | safe }}
    </div>

<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="modal" tabindex="-1" role="dialog" id="messageModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alert</h5>
                </div>
                <div class="modal-body">
                    <p>{{ messages[0] }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
            <script>
            $(document).ready(function() {
                $('#messageModal').modal('show');
            });
            </script>
        {% endif %}
        {% endwith %}
{% endblock scripts %}