{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('home.index') }}">{{ g.config.WEB_TITLE }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% for group in g.pages|selectattr('meta.group', 'defined')|groupby('meta.group') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ group.grouper }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for page in group.list %}
              {% if current_user.is_authenticated or not page.meta['requires_login'] %}
                {% if page.meta['navbar'] %}
                  {% if page.meta['route'] %}
                    <a class="dropdown-item" href="{{ url_for(page.meta['route'], path=page.path) }}">{{ page.title }}</a>
                  {% else %}
                    <a class="dropdown-item" href="{{ url_for('path.page', path=page.path) }}">{{ page.title }}</a>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if current_user.is_authenticated %}
      <li class="nav-item"> <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout [{{ current_user.username }}] </a> </li>
      {% else %}
      <li class="nav-item"> <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a> </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}