{% extends "page.html" %}

{% block content %}

<div class="container">
    {{ page.html | safe }}
</div>

{% if page.meta['stream'] %}
<div class="container">
    <a href="{{stream_source}}" class="btn btn-success" role="button">Download Output</a>
    <h2>Output:</h2>
    <pre id="output" class="text-monospace"></pre>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="streamModal" tabindex="-1" role="dialog" aria-labelledby="streamModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="streamModalLabel">Processing...</h5>
      </div>
      <div class="modal-body">
        Please wait for the process/streaming to complete.
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    const outputElement = document.getElementById('output');
    const streamModal = $('#streamModal');

    // Show the modal immediately when the page loads
    $(document).ready(function() {
        streamModal.modal('show');
    });

    // Establish a connection to the Flask endpoint streaming the output
    const eventSource = new EventSource( '{{ stream_source }}' );

    eventSource.onmessage = function(event) {
        // Append each line of output to the <pre> element
        outputElement.textContent += event.data + '\n';
        console.log(event.data);
				var modalBody = $('#streamModal .modal-body');
        modalBody.text('event.event');
        modalBody[0].offsetHeight; // force reflow
    };

		eventSource.addEventListener('end', function(event) {
    console.log('End of file reached');
		streamModal.modal('hide');
    eventSource.close();
		});

		eventSource.onerror = function(event) {
	    console.log('Ready state:', eventSource.readyState);
			console.log('Event:', event);
			if (eventSource.readyState === EventSource.CLOSED) {
					console.log('Connection was closed normally');
			} else {
					console.error('EventSource failed:', event);
			}
			streamModal.modal('hide');
			eventSource.close();
		};
</script>
{% endblock %}