{% extends "base.html" %}

	{% block header %}
			<title>{{ page.title }}</title>
	{% endblock %}

	{% block content %}

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('page', path='home') }}">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="{{ url_for('page', path='home') }}">Home</a></li> -->
      {% for page in pages %}
				{% if page.meta['navbar'] %}
	        <li> <a href="{{ url_for('page', path=page.path) }}">{{ page.title }}</a> </li>
				{% endif %}
      {% endfor %}
    </ul>
  </div>
	</nav>

	<div class="container">
			{{ page.html | safe }}
	</div>

{% block footer %}
<footer class="footer bg-light mt-auto py-3">
  <div class="container text-right">
    <!-- <em><span class="text-muted">{{ page.title }} - published on {{ page.meta['date'] }}</span></em> -->
    <em><span class="text-muted">{{ page.meta['date'] }}</span></em>
  </div>
</footer>
{% endblock %}

{% endblock %}
