{% extends "base.html" %}

{% block header %}
<title>{{ page.title }}</title>
{% endblock %}

{% include "navbar.html" %}

{% block content %}

<div class="container">
	{{ page.html | safe }}
</div>

<div class="container">
	<ul class="list-group">
		{% if pdata.qs is not none %}
			{% for qs in pdata.qs %}
				<li class="list-group-item">
					<a class="btn btn-{{ qs.status }}" href="/stream?q=cat+{{ qs.filename }}">{{ qs.command }}</a>
				</li>
			{% endfor %}
		{% else %}
			<li class="list-group-item">
				No results found.
			</li>
		{% endif %}
	</ul>
</div>

<div class="container">
	<ul class="list-group">
		<h2>pdata - debug</h2>
		{% if pdata is not none %}
			{% for x in pdata %}
				<li class="list-group-item">
					pdata.{{ x }}: {{ pdata[x] }}
				</li>
			{% endfor %}
		{% else %}
			<li class="list-group-item">
				No pdata.
			</li>
		{% endif %}
	</ul>
</div>

{% include "footer.html" %}

{% endblock %}