{% extends "base.html" %}

{% block header %}
<title>{{ page.title }}</title>
{% endblock %}

{% include "navbar.html" %}

{% block content %}

<div class="container">
	{{ page.html | safe }}
</div>

<div class="container">
	<ul class="list-group">
		{% if g.pdata is not none %}
			{% for qs in g.pdata.qs_list %}
				<li class="list-group-item">
					{%if g.pdata.last_qs.ctime == qs.ctime and g.pdata.last_qs.filename == qs.filename %}
						<a class="btn btn-warning" href="/stream?q=cat+{{ qs.filename }}">{{ qs.command }}</a> - {{ qs.cctime }} - {{ qs.cmtime }} - {{ qs.mtime }}
						{% else %}
						<a class="btn btn-{{ qs.status }}" href="/stream?q=cat+{{ qs.filename }}">{{ qs.command }}</a> - {{ qs.cctime }} - {{ qs.cmtime }} - {{ qs.mtime }}
					{% endif %}
				</li>
			{% else %}
				<li class="list-group-item">
					Nothing yet.
				</li>
			{% endfor %}
		{% else %}
			<li class="list-group-item">
				Nothing yet.
			</li>
		{% endif %}
	</ul>
</div>

<!--
<div class="container">
	<ul class="list-group">
		<h2>pdata - debug</h2>
		{% if pdata is not none %}
			{% for x in pdata %}
				<li class="list-group-item">
					pdata.{{ x }}: {{ pdata[x] }}
				</li>
			{% endfor %}
		{% else %}
			<li class="list-group-item">
				No pdata.
			</li>
		{% endif %}
	</ul>
</div>
-->

{% include "footer.html" %}

{% endblock %}