{% extends "base.html" %}

{% block header %}
<title>{{ page.title }}</title>
{% endblock %}

{% include "navbar.html" %}

{% block content %}

<div class="container">
	{{ page.html | safe }}
</div>

<div class="container">
	<ul class="list-group">
		{% for qs in pdata.qs %}
		{% if qs is not none %}
			<li class="list-group-item">
				<a class="btn btn-{{ qs.status }}" href="/stream?q=cat+{{ qs.filename }}">{{ qs.command }}</a>
			</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>

{% include "footer.html" %}

{% endblock %}