{% extends "page.html" %}

{% block content %}

<div class="container">
    {{ page.html | safe }}
</div>

{% if page.meta['stream'] %}
<div class="container">
    <h2>Output:</h2>
    <pre id="output" class="text-monospace"></pre>
    <a href="{{stream_source}}" class="btn btn-light" role="button">Download Output</a>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="streamModal" tabindex="-1" role="dialog" aria-labelledby="streamModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="streamModalLabel">Processing...</h5>
      </div>
      <div class="modal-body">
        Time elapsed: <a id="counter"></a>s.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="stopButton">Stop</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    const outputElement = document.getElementById('output');
    const streamModal = $('#streamModal');
		var pollCount = 0;  // Declare a counter variable
    const counterElement = document.getElementById('counter');

    // Show the modal immediately when the page loads
    $(document).ready(function() {
        streamModal.modal('show');
    });

var redirectUrl = "{{ url_for('path.page', path='list_qs') }}";

    document.getElementById('stopButton').addEventListener('click', function() {
        clearInterval(intervalId);
        window.location.href = redirectUrl;
    });

		// Start a loop that queries the server every second
var intervalId = setInterval(function() {
    // Query the server and read all available data
    fetch('{{ stream_source }}')
        .then(response => response.text())
        .then(data => {
            // Update the <pre> element with the data
            outputElement.textContent = data;
						// Update the counter element with the current value of the counter variable
						counterElement.textContent = pollCount++;
            // Check the last line of the data
            var lastLine = data.trim().split('\n').pop();
            if (lastLine.includes('#end')) {
                // If the last line contains '#end', clear the interval and close the connection
                clearInterval(intervalId);
                streamModal.modal('hide');
		            outputElement.textContent = data;
            }
        })
        .catch(error => console.error('Error:', error));
}, 1000);

</script>
{% endblock %}