Flask
Flask-SQLAlchemy
gunicorn
psycopg2-binary
bootstrap-flask
Flask-FlatPages
Flask-wtf
Flask-Login
Flask-Uploads
Flask-Admin
Flask-Script
Flask-Migrate
Flask-Mail
Flask-RESTful
Flask-HTTPAuth
Flask-Session
Flask-Caching
Flask-Compress
Flask-Gravatar
Flask-Principal
Flask-SeaSurf
Flask-SSLify
Flask-Assets
Flask-PageDown
Flask-Images
Flask-Redis
pyyaml
beautifulsoup4
